#cd-cart {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;

    /* header height */
    padding-top: 50px;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    transition: right 0.3s;
}

#cd-cart.speed-in {
    right: 0;
}